registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
disturl=https://npm.taobao.org/mirrors/node/
sharp_dist_base_url=https://npm.taobao.org/mirrors/sharp-libvips/
puppeteer_download_host=https://npm.taobao.org/mirrors/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
sqlite3_binary_site=https://npm.taobao.org/mirrors/sqlite3/
python_mirror=https://npm.taobao.org/mirrors/python/